@{
    ViewData["Title"] = "Burguer";
}

<div class="text-center">
    <h1 class="display-4">Hamburguesas</h1>
    <p>Comienza aqui <a href="https://localhost:7084/Burguers">Crea tu hamburguesa</a>.</p>
</div>
